<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="swiper-bundle.min.css" class="css">
    <link rel="shortcut icon" href="D:\project\icon.png">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header>
        <div class="nav container">
            <a href="movie.html" class="logo">
                Re<span>Verie</span>
            </a>
            <div class="search-box">
                <input type="search" name="" id="search-input" placeholder="search movie">
                <i class='bx bx-search-alt-2'></i>
            </div>
            <a href="#" class="user">
                <img src="D:\Apple\31\IMG_4940.JPG" alt="" class="user-img">
            </a>
            <div class="navbar">
                <a href="#home" class="nav-link nav-active">
                    <i class='bx bx-home-alt'></i>
                    <span class="nav-link-title">Home</span>
                </a>
                <a href="#home" class="nav-link">
                    <i class='bx bxs-hot' ></i>
                    <span class="nav-link-title">Trending</span>
                </a>
                <a href="#home" class="nav-link">
                    <i class='bx bx-compass' ></i>
                    <span class="nav-link-title">Explore</span>
                </a>
                <a href="#home" class="nav-link">
                    <i class='bx bx-tv' ></i>
                    <span class="nav-link-title">Movies</span>
                </a>
                <a href="#home" class="nav-link">
                    <i class='bx bx-heart'></i>
                    <span class="nav-link-title">Favourite</span>
                </a>
            </div>
        </div>
    </header>
    <section class="home container" id="home">
        <img src="D:\project\background.jpg" alt="" class="home-image">
        <div class="home-text">
            <h1 class="home-title">Avengers <br> Endgame</h1>
            <a href="#" class="watch-btn">
                <i class='bx bx-right-arrow'></i>
                <span>Watch the Trailer</span>
            </a>
        </div>
    </section>
    
    <section class="popular container" id="popular">
        <div class="heading">
            <h1 class="heading-title">Popular Movies</h1>
            <div class="swiper-btn">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
        <div class="popular-content swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="movie-box">
                        <img src="D:\project\pa.jpg" alt="" class="movie-box-img">
                        <div class="box-text">
                            <h2 class="movie-title">Spider-Man: No way home</h2>
                            <span class="movie-type">Action</span>
                            <a href="#" class="watch-btn play-btn">
                                <i class='bx bx-right-arrow'></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="movie-box">
                        <img src="D:\project\OIP.jpg" alt="" class="movie-box-img">
                        <div class="box-text">
                            <h2 class="movie-title">Interstellar</h2>
                            <span class="movie-type">Sci-fi</span>
                            <a href="#" class="watch-btn play-btn">
                                <i class='bx bx-right-arrow'></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="movie-box">
                        <img src="D:\project\32AyWURtQXFYkWHKh6adYgWFfMk.jpg" alt="" class="movie-box-img">
                        <div class="box-text">
                            <h2 class="movie-title">Little Women</h2>
                            <span class="movie-type">Romance</span>
                            <a href="#" class="watch-btn play-btn">
                                <i class='bx bx-right-arrow'></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="movie-box">
                        <img src="D:\project\vpsvHLkoeKUjceIMeNSqCp3xEyY.jpg" alt="" class="movie-box-img">
                        <div class="box-text">
                            <h2 class="movie-title">Titanic</h2>
                            <span class="movie-type">Romance</span>
                            <a href="#" class="watch-btn play-btn">
                                <i class='bx bx-right-arrow'></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="movie-box">
                        <img src="D:\project\R.jpg" alt="" class="movie-box-img">
                        <div class="box-text">
                            <h2 class="movie-title">Jungle Cruise</h2>
                            <span class="movie-type">Adventure</span>
                            <a href="#" class="watch-btn play-btn">
                                <i class='bx bx-right-arrow'></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="movie-box">
                        <img src="D:\project\OIP (1).jpg" alt="" class="movie-box-img">
                        <div class="box-text">
                            <h2 class="movie-title">Coco</h2>
                            <span class="movie-type">Adventure/Drama</span>
                            <a href="#" class="watch-btn play-btn">
                                <i class='bx bx-right-arrow'></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="movie-box">
                        <img src="D:\project\P_HO00004640.jpg" alt="" class="movie-box-img">
                        <div class="box-text">
                            <h2 class="movie-title">Despicable Me 3</h2>
                            <span class="movie-type">Animation/Comedy</span>
                            <a href="#" class="watch-btn play-btn">
                                <i class='bx bx-right-arrow'></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="movie-box">
                        <img src="D:\project\bYWwiNJC8cEIJ32EBXjjWVhUZDI.jpg" alt="" class="movie-box-img">
                        <div class="box-text">
                            <h2 class="movie-title">Iron Man 3</h2>
                            <span class="movie-type">Action</span>
                            <a href="#" class="watch-btn play-btn">
                                <i class='bx bx-right-arrow'></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="movie-box">
                        <img src="D:\project\7xpRzGR4jXLTXdjfFBtdE4OboJr.jpg" alt="" class="movie-box-img">
                        <div class="box-text">
                            <h2 class="movie-title">Jurassic Park</h2>
                            <span class="movie-type">Sci-fi/Thriller</span>
                            <a href="#" class="watch-btn play-btn">
                                <i class='bx bx-right-arrow'></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="movies container" id="movies">
        <div class="heading">
            <h1 class="heading-title">Movies and Shows</h1>
        </div>
        <div class="movies-content">
            <div class="movie-tbox">
                <img src="D:\project\Jumanji-keyArt_0.jpg" alt="" class="movie-tbox-img">
                <div class="box-text">
                    <h2 class="movie-title">Jumanji: Welcome to the Jungle</h2>
                    <span class="movie-type">Action</span>
                    <a href="play-page.html" class="watch-btn play-btn">
                        <i class='bx bx-right-arrow'></i>
                    </a>
                </div>
            </div>
            <div class="movie-tbox">
                <img src="D:\project\OIP (2).jpg" alt="" class="movie-tbox-img">
                <div class="box-text">
                    <h2 class="movie-title">Hitman's Wife's Bodyguard</h2>
                    <span class="movie-type">Action/Comedy</span>
                    <a href="#" class="watch-btn play-btn">
                        <i class='bx bx-right-arrow'></i>
                    </a>
                </div>
            </div>
            <div class="movie-tbox">
                <img src="D:\project\006b2b3f7521940b9f61c67afa8b2c35.jpg" alt="" class="movie-tbox-img">
                <div class="box-text">
                    <h2 class="movie-title">Shang-Chi</h2>
                    <span class="movie-type">Action/Comedy</span>
                    <a href="#" class="watch-btn play-btn">
                        <i class='bx bx-right-arrow'></i>
                    </a>
                </div>
            </div>
            <div class="movie-tbox">
                <img src="D:\project\7e3e10d57c4a96a3e32125543edea487.jpg" alt="" class="movie-tbox-img">
                <div class="box-text">
                    <h2 class="movie-title">5 Feet Apart</h2>
                    <span class="movie-type">Romance</span>
                    <a href="#" class="watch-btn play-btn">
                        <i class='bx bx-right-arrow'></i>
                    </a>
                </div>
            </div>
            <div class="movie-tbox">
                <img src="D:\project\gfl0nuj9ffUDPlBhqJdrxD4YSNP.jpg" alt="" class="movie-tbox-img">
                <div class="box-text">
                    <h2 class="movie-title">Men In Black</h2>
                    <span class="movie-type">Sci-fi/Comedy</span>
                    <a href="#" class="watch-btn play-btn">
                        <i class='bx bx-right-arrow'></i>
                    </a>
                </div>
            </div>
            <div class="movie-tbox">
                <img src="D:\project\OIP (3).jpg" alt="" class="movie-tbox-img">
                <div class="box-text">
                    <h2 class="movie-title">Midnight Sun</h2>
                    <span class="movie-type">Romance</span>
                    <a href="#" class="watch-btn play-btn">
                        <i class='bx bx-right-arrow'></i>
                    </a>
                </div>
            </div>
            <div class="movie-tbox">
                <img src="D:\project\R (1).jpg" alt="" class="movie-tbox-img">
                <div class="box-text">
                    <h2 class="movie-title">Avataar</h2>
                    <span class="movie-type">Sci-fi/Thriller</span>
                    <a href="#" class="watch-btn play-btn">
                        <i class='bx bx-right-arrow'></i>
                    </a>
                </div>
            </div>
            <div class="movie-tbox">
                <img src="D:\project\R (2).jpg" alt="" class="movie-tbox-img">
                <div class="box-text">
                    <h2 class="movie-title">Captain America and The Winter Soldier</h2>
                    <span class="movie-type">Action/Thriller</span>
                    <a href="#" class="watch-btn play-btn">
                        <i class='bx bx-right-arrow'></i>
                    </a>
                </div>
            </div>
            <div class="movie-tbox">
                <img src="D:\project\ddf18uo-5cb4b3b3-222f-4c8e-9c28-647f7815d6ed.jpg" alt="" class="movie-tbox-img">
                <div class="box-text">
                    <h2 class="movie-title">Thor: Love and Thunder</h2>
                    <span class="movie-type">Action/Comedy</span>
                    <a href="#" class="watch-btn play-btn">
                        <i class='bx bx-right-arrow'></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <div class="next-page">
        <a href="#" class="next-btn">Next Page</a>
    </div>
    <div class="copyright">
        <p>&#169; ReVerie All Rights Reserved</p>
    </div>
    <script src="swiper-bundle.min.js"></script>
    <script src="main.js"></script>
    
</body>
</html>